/*-----------------------------*/
/* CSS3 calc() function to perform calculations */
body {
  background-color: #2e2f2e; }

.container {
  /*float: left;*/ }

.col-1 {
  float: left;
  min-width: 5%;
  max-width: 5%;
  width: 5%; }

.col-2 {
  float: left;
  min-width: 10%;
  max-width: 10%;
  width: 10%; }

.col-3 {
  float: left;
  min-width: 15%;
  max-width: 15%;
  width: 15%; }

.col-4 {
  float: left;
  min-width: 20%;
  max-width: 20%;
  width: 20%; }

.col-5 {
  float: left;
  min-width: 25%;
  max-width: 25%;
  width: 25%; }

.col-6 {
  float: left;
  min-width: 30%;
  max-width: 30%;
  width: 30%; }

.col-7 {
  float: left;
  min-width: 35%;
  max-width: 35%;
  width: 35%; }

.col-8 {
  float: left;
  min-width: 40%;
  max-width: 40%;
  width: 40%; }

.col-9 {
  float: left;
  min-width: 45%;
  max-width: 45%;
  width: 45%; }

.col-10 {
  float: left;
  min-width: 50%;
  max-width: 50%;
  width: 50%; }

.col-11 {
  float: left;
  min-width: 55%;
  max-width: 55%;
  width: 55%; }

.col-12 {
  float: left;
  min-width: 60%;
  max-width: 60%;
  width: 60%; }

.col-13 {
  float: left;
  min-width: 65%;
  max-width: 65%;
  width: 65%; }

.col-14 {
  float: left;
  min-width: 70%;
  max-width: 70%;
  width: 70%; }

.col-15 {
  float: left;
  min-width: 75%;
  max-width: 75%;
  width: 75%; }

.col-16 {
  float: left;
  min-width: 80%;
  max-width: 80%;
  width: 80%; }

.col-17 {
  float: left;
  min-width: 85%;
  max-width: 85%;
  width: 85%; }

.col-18 {
  float: left;
  min-width: 90%;
  max-width: 90%;
  width: 90%; }

.col-19 {
  float: left;
  min-width: 95%;
  max-width: 95%;
  width: 95%; }

.col-20 {
  float: left;
  min-width: 100%;
  max-width: 100%;
  width: 100%; }

/*.col-1 {
    $v: 10%;
    float: left;
    min-width: $v;
    max-width: $v;
    width: $v;
}

.col-2 {
    $v: 20%;
    float: left;
    min-width: $v;
    max-width: $v;
    width: $v;
}*/

