/*-----------------------------*/
/* CSS3 calc() function to perform calculations */
body {
  background-color: #2e2f2e; }

.container {
  /*float: left;*/ }

.col-1 {
  float: left;
  min-width: 5.55556%;
  max-width: 5.55556%;
  width: 5.55556%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-2 {
  float: left;
  min-width: 11.11111%;
  max-width: 11.11111%;
  width: 11.11111%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-3 {
  float: left;
  min-width: 16.66667%;
  max-width: 16.66667%;
  width: 16.66667%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-4 {
  float: left;
  min-width: 22.22222%;
  max-width: 22.22222%;
  width: 22.22222%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-5 {
  float: left;
  min-width: 27.77778%;
  max-width: 27.77778%;
  width: 27.77778%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-6 {
  float: left;
  min-width: 33.33333%;
  max-width: 33.33333%;
  width: 33.33333%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-7 {
  float: left;
  min-width: 38.88889%;
  max-width: 38.88889%;
  width: 38.88889%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-8 {
  float: left;
  min-width: 44.44444%;
  max-width: 44.44444%;
  width: 44.44444%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-9 {
  float: left;
  min-width: 50%;
  max-width: 50%;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-10 {
  float: left;
  min-width: 55.55556%;
  max-width: 55.55556%;
  width: 55.55556%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-11 {
  float: left;
  min-width: 61.11111%;
  max-width: 61.11111%;
  width: 61.11111%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-12 {
  float: left;
  min-width: 66.66667%;
  max-width: 66.66667%;
  width: 66.66667%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-13 {
  float: left;
  min-width: 72.22222%;
  max-width: 72.22222%;
  width: 72.22222%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-14 {
  float: left;
  min-width: 77.77778%;
  max-width: 77.77778%;
  width: 77.77778%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-15 {
  float: left;
  min-width: 83.33333%;
  max-width: 83.33333%;
  width: 83.33333%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-16 {
  float: left;
  min-width: 88.88889%;
  max-width: 88.88889%;
  width: 88.88889%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-17 {
  float: left;
  min-width: 94.44444%;
  max-width: 94.44444%;
  width: 94.44444%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-18 {
  float: left;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.control {
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  border-color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .control .control-input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .control .control-label {
    color: white;
    text-align: right;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

