@{
    ViewData["Title"] = "Home Page";
}

<div id="homeView" class="container-fluid">
    <h1>
        Hallo...


        ﻿<a asp-controller="Account" asp-action="Logout">Logout</a>

    </h1>
</div>


<script>
    var vmc = document.getElementById("homeView");
    ko.applyBindings(new HomeViewData(), vmc);
</script>