@model  ViewModels.LoginViewModel
@{
    Layout = "_LayoutLogin";
    ViewBag.Title = "Login";
}
 


<div style="background-color:red;" class="col-10">
    1
    a
    b
    c
</div>

<div style="background-color:green;" class="col-10">
    2
</div>











@*<div style="margin-top:20px;" class="container-fluid">
    <form method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnurl="@Model.ReturnUrl">
        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>

        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div asp-validation-summary="@ValidationSummary.ModelOnly"></div>
        <input type="submit" value="Login" />
    </form> 
</div>*@
